* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-body {
    display: flex;
}

body {
    background-color: #1C1C32;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.main-window {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.side-bar {
    flex-shrink: 0;
}